[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
faker = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
allure-pytest = "*"

[requires]
python_version = "3"

[scripts]
test_ci = "pipenv run pytest tests --alluredir=allure-results"
